<form style="margin-top: 1%;margin-left: 2%;" [formGroup]="traderForm" (ngSubmit)="onSubmit()" class="example-form">
    <div style="padding-top: 1%;">
        <h2>Flat Trade</h2>
        <div>

            <mat-form-field appearance="outline">
                <mat-label> Enter your Flat Trade Client ID</mat-label>
                <input matInput formControlName="clientId">
            </mat-form-field>

        </div>

        <div>
            Generate Redirect & Postback URLs
            <div>
                <button mat-raised-button color="primary">Generate Links</button>
            </div>
        </div>
        <div style="margin-top: 1%;">

            <div>
                Redirect URL:
            </div>

            <div>


                Postback URL:
            </div>
        </div>

        <div style="margin-top: 1%;">

            <div>

                Copy the API Key and API secret and paste in below and click ‘Save’.
            </div>

            <div>

                <mat-form-field appearance="outline">
                    <mat-label>API Key</mat-label>
                    <input matInput formControlName="APIKey">
                </mat-form-field>

            </div>

            <div>

                <mat-form-field appearance="outline">
                    <mat-label>API Secret</mat-label>
                    <input matInput formControlName="APISecret">
                </mat-form-field>

            </div>
        </div>


        <div style="display: flex;">

            <div>
                <button type="submit" mat-raised-button color="primary">Save</button>
            </div>
            <div *ngIf="traderForm.get('_id').value" style="margin-left: 10px;">
                <button type="button" mat-raised-button style="background-color: red;"
                    (click)="deleteBroker()">Delete</button>
            </div>
        </div>

    </div>
</form>
<div class="overlay" *ngIf="isLoading">
    <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
  </div>