<p>
    <mat-toolbar>
        
         
       
        <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
          
        </button> -->
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>more_vert</mat-icon> 
        </button>
<!--         
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="menuItemClicked('Item 1')">Item 1</button>
          <button mat-menu-item (click)="menuItemClicked('Item 2')">Item 2</button>
      
        </mat-menu> -->
      <span>Maximum Growth</span>
      <div style="margin-left:70%;">
        <button style="margin-top: -17px;" mat-raised-button color="primary" (click)="openBrokerPage=true">Broker Login</button>
        <button (click)='logOut()' style=" margin-left:10%;" mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
    </div>            
    </mat-toolbar>
</p>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <button class="button-style"  mat-button (click)="menuItemClicked('one')"> Create Algo</button>
      <br>
      <br>
      <button class="button-style" mat-button (click)="menuItemClicked('two')">Table</button>
      <br>
      <br>
      <button class="button-style" mat-button (click)="menuItemClicked('three')"> Item 2</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-create-algo *ngIf="itemClicked=='one'"></app-create-algo>

  </div>

</mat-drawer-container>


  
