<p>
    <mat-toolbar>
        <button  mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon> 
        </button>
        
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="menuItemClicked('Item 1')">Item 1</button>
          <button mat-menu-item (click)="menuItemClicked('Item 2')">Item 2</button>
      
        </mat-menu>
      <span>Maximum Growth</span>
      <div style="margin-left:70%;">
        <button style="margin-top: -17px;" mat-raised-button color="primary" (click)="openBrokerPage=true">Broker Login</button>
        <button (click)='logOut()' style=" margin-left:10%;" mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
    </div>            
    </mat-toolbar>
</p>


  
