



  <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="( isHandset$ | async) === false">
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <span>Maximum Growth</span>
    
     <span class="spacer"></span>
     
      <button style="max-width: 100px;" mat-button  (click)="menuItemClicked('Login')">Login
      </button>
      <button style="max-width: 100px;" mat-button   (click)="menuItemClicked('Sign Up')">Sign Up
      </button>
     
    </mat-toolbar>
   
    <div *ngIf="open" >

      <app-login [clickedValue]="itemClicked" *ngIf="itemClicked"></app-login>
  
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
