<div style="background-color:rgb(226 225 243)">

    <div style="padding: 10px; margin-top: 10px;">
        
    
    <button mat-raised-button  (click)="toggle('buySell','Buy','Sell')">
        {{ legValue.buySell }}
      </button>
    
      <button mat-raised-button  style="margin-left: 10px;" (click)="toggle('optionValue','CE','PE')">
        {{ legValue.optionValue }}
      </button>

      <button mat-raised-button  style="margin-left: 10px;" (click)="toggle('isMIS','MIS','NRML')">
        {{ legValue.isMIS }}
      </button>

      <mat-form-field  appearance="outline" style="margin-left: 10px;width: 188px">
        <mat-select [(value)]="legValue.legs" >
          <mat-option *ngFor="let option of legsArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  appearance="outline" style="margin-left: 10px;width: 100px;">
        <mat-select [(value)]="legValue.selectedStrike" >
          <mat-option *ngFor="let option of strikeArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field  appearance="outline" style="margin-left: 10px;width: 188px;">
        <mat-select (selectionChange)="onChangeInstrument($event)" [(value)]="legValue.selectedInstrument" >
          <mat-option  *ngFor="let option of instrumentArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;width: 100px;" appearance="outline" >
        <input type="number" (keyup)="calculateQuantityBasedOnLots($event)" (mouseup)="calculateQuantityBasedOnLots($event)" matInput min="0"  [(ngModel)]="quantity">
      </mat-form-field>
      <span style="margin-left: 10px">({{calculatedQuantity}})</span>

    
        <button (click)="delete()"
         style="margin-left: 80%;" type="button" mat-button >
            <mat-icon style="color: #673ab7;">delete</mat-icon> 
          </button>
    </div>
</div>
