<div style="margin-left: 1%;"  *ngIf="showBroker">
    <button style=" margin-top: 2%;" mat-raised-button color="primary" (click)="openTrade('Flat Trade')">Flat Trade</button> 
    <br> 
    <button style="margin-top: 2%;" mat-raised-button color="primary" (click)="openTrade('Zerodha')">Zerodha</button>
   
  </div>

  <div style="float: left;" *ngIf="!showBroker">
  <mat-icon  (click)="showBroker=true">keyboard_backspace</mat-icon>
   
  </div>

  <app-flat-trade  *ngIf="selectedTrader=='Flat Trade' && !showBroker"></app-flat-trade>
  <app-zerodha *ngIf="selectedTrader=='Zerodha' && !showBroker"></app-zerodha>