.example-form {
    margin-left: 10px;

}

.example-full-width {
    width: 20%;
    height: 20px;
  }
 

.mat-button-toggle:hover {
    background-color: transparent;
    color:#673ab7 ;    
}

.mat-button-toggle-checked {
    background-color:#673ab7;
    color: white;
}



