<h2 style="margin-left: 1%;">Create New Algo</h2>

<form  [formGroup]="createAlgo" (ngSubmit)="onSubmit()" class="example-form">

  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Algo Name</mat-label>
      <input matInput  formControlName="algoName">
    </mat-form-field>
  </div>

    <div style="margin-top: 20px;">

       


      <mat-form-field  appearance="outline" style="margin-top: 10px;" >
        <mat-label>Instrument</mat-label>
        <mat-select formControlName="selectedInstrument">
          <mat-option *ngFor="let option of instrumentArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field  appearance="outline" style="margin-left: 10px;">
        <mat-label>Segment</mat-label>
        <mat-select formControlName="selectedSegment">
          <mat-option *ngFor="let option of segmentArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field  appearance="outline" style="margin-left: 10px;">
        <mat-label>Strike</mat-label>
        <mat-select formControlName="selectedStrike">
          <mat-option *ngFor="let option of strikeArray" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field style="margin-left: 10px;" appearance="outline" >
        <mat-label>Quantity(lots)</mat-label>
        <input type="number" matInput  formControlName="quantity">
      </mat-form-field>

      
      
    </div>

    
     

        <mat-button-toggle-group style="margin-top: -10px;"
         #group="matButtonToggleGroup" formControlName="optionValue">
          <mat-button-toggle class="options" value="CE">CE</mat-button-toggle>
          <mat-button-toggle class="options" value="PE">PE</mat-button-toggle>
        </mat-button-toggle-group>
      

  <mat-button-toggle-group style="margin-top: -10px;margin-left: 10px;"
   #group="matButtonToggleGroup" formControlName="buySell">
    <mat-button-toggle class="mat-button-toggle1" value="Buy">Buy</mat-button-toggle>
    <mat-button-toggle class="mat-button-toggle1" value="Sell">Sell</mat-button-toggle>
  </mat-button-toggle-group>
  

<div>

  <button style="margin-top: 10px;" mat-raised-button color="primary" type="submit" >Add Leg</button>
</div>

  </form>