
<mat-form-field  appearance="outline" style="margin-left: 10px;">
  <mat-label>Choose day</mat-label>
  <mat-select (selectionChange)="loadData($event)" [(ngModel)]="selectedDay">
    <mat-option *ngFor="let option of daysArray" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->


    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="enable">
      <th mat-header-cell *matHeaderCellDef>Enable</th>
      <td mat-cell *matCellDef="let device">
        <mat-slide-toggle [checked]="device.enable" (change)="toggleStatus(device)"></mat-slide-toggle>
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="mtm">
      <th mat-header-cell *matHeaderCellDef> MTM </th>
      <td mat-cell *matCellDef="let element"> {{element.mtm}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Algo Name </th>
      
      <td mat-cell link *matCellDef="let element">   <a routerLink="/dashboard" (click)="onClickColumn(element)">{{element.name}}</a></td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="editItem(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
        <!-- Add more buttons or customize actions as needed -->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  